<a ng-href="/#/"><p style="font-style: italic">Return to index route</p></a>

<h2>EDIT, UPDATE</h2>




<form ng-submit="updateQuote()" class='updateQuote'>
  <div><span class="edit">Quote:</span> {{editQuote.quoteText}}</div>
  <label for="quoteText" class="edit">Updated Quote: </label>
    <input type="text" name="quoteText" ng-model="quote.quoteText" class="editField" required></label><br>
  <div><span class="edit">Author:</span> {{editQuote.quoteAuthor}}</div>
  <label for="quoteAuthor" class="edit">Updated Author: </label>
    <input type="text" name="quoteAuthor" ng-model="quote.quoteAuthor" class="editField" required></label><br>
  <input type="submit" value="Update Quote"></input>
</form>
