<p class="mean">A MEAN stack CRUD database, using MongoDB, Express, Angular, and Node. <br> Routes: INDEX, NEW, SHOW, EDIT, UPDATE, DESTROY. The Angular routes go to corresponding Express routes.</p>

<img class="audrey" ng-src="http://blog.syracuse.com/shelflife/2008/09/anna.jpg" alt="Audrey Hepburn in 'War and Peace' (1955)" />

<h2>INDEX, DESTROY</h2>

<a href="/#/new"><button>Add a new quote</button></a>

<div ng-repeat="quote in quotes">
  <div class="quoteBox">
    <div class="quoteText">
      <!-- <a ng-href="{{'api/swords/' + sword._id}}">{{sword.swordName}}</a></span> -->
      <a ng-href="/#/{{quote._id}}">{{quote.quoteText}}</a></div> <!--SHOW-->
    <div class="quoteAuthor">-- {{quote.quoteAuthor}}<br>

      <a ng-href="/#/{{quote._id}}/edit"><button>Edit Quote</button></a>

      <button ng-click="deleteQuote(quote)">Delete Quote</button>
    </div>

    <span ng-click="showComments = !showComments">
      <ng-pluralize count="post.comments.length"
      when="{'0': '',
             'one': '1 comment',
             'other': '{} comments',
             'NaN': ''}">
      </ng-pluralize><br>
    </span>

    <span>Likes: {{quote.likes}}</span></span>
    <form ng-submit="upLike(quote)">
      <input type="submit" value="Up"<</input>
    </form>
    <form ng-submit="downLike(quote)">
      <input type="submit" value="Down"<</input>
    </form>

    <form ng-submit="newComment(quote)">
      <input type="text" name="commentText" ng-model="quote.newComment.commentText">
      <input type="text" name="commentAuthor" ng-model="quote.newComment.commentAuthor">
      <input type="submit" value="Submit Comment"></input>
    </form>

    <div ng-repeat="comment in quote.comments" ng-show="true" class=comment>
      <table>
        <tr>
          <td width=50>
            &nbsp;
          </td>
          <td width=400 class=commentBox>
            <span class='commentText'>{{comment.commentText}}</span> <span class='commentAuthor'>--{{comment.commentAuthor}}</span>
          </td>
          <td width=10>
            &nbsp;
          </td>
          <td>
            <form ng-submit="deleteComment(quote, comment)">
              <input type="submit" value="Delete Comment"></input>
            </form>
          </td>

        </tr>
      </table>
    </div>

  </div>
  <p>
</div>
